---
import { getCollection } from "astro:content";
import { ContentPreview, PostMetadata } from "@components";
import { Heading } from "@elements";
import { components } from "@elements";
import { vstack } from "@styled-system/patterns";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<div class={vstack({ alignItems: "unset", gap: "large" })}>
  {
    posts.map(async (it) => {
      const { Content } = await it.render();

      return (
        <article>
          <Heading>
            <a href={`/blog/${it.slug}`}>{it.data.title}</a>
          </Heading>
          <PostMetadata post={it} />
          <ContentPreview continuationLink={`/blog/${it.slug}`}>
            <Content components={components} />
          </ContentPreview>
        </article>
      );
    })
  }
</div>
